<h1>Sign up</h1>
<p>Please fill in all fields in the sign up form</p>
<ul>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :firstName, "First Name" %><br />
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label :lastName, "Last Name" %><br />
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label :username, "Create a User Name" %><br />
    <%= f.text_field :username %>
    <a onclick=check()>Check Availability</a><= implement
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %> (minimum 6 characters)<br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm Your Password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</ul>