<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :videoID, "Video ID" %><br />
    <%= f.text_field :videoID %>
  </div>
  <div class="field">
    <%= f.label :videoType, "Type" %> (yt, yahoo, fb, ...)<br />
    <%= f.text_field :videoType %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
