<p id="notice"><%= notice %></p>

<p>
  <b>Video ID:</b>
  <%= @video.videoID %>
</p>

<p>
  <b>Type:</b>
  <%= @video.videoType %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
