<h1>Listing games</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Rating</th>
    <% if is_admin? %>
      <th class="admin">Total Rating</th>
      <th class="admin">No. of Ratings</th>
    <% end %>
    <th>Likes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.title %></td>
    <td><%= game.description %></td>
    <td><%= game.rating %></td>
    <% if is_admin? %>
      <td class="admin"><%= game.totalRating %></td>
      <td class="admin"><%= game.noOfRating %></td>
    <% end %>
    <td><%= game.likes %></td>
    <td><%= link_to 'Show', game %></td>
    <% if is_admin? %>
      <td class="admin"><%= link_to 'Edit', edit_game_path(game) %></td>
      <td class="admin"><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
