<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @game.title %>
</p>

<p>
  <b>Description:</b>
  <%= @game.description %>
</p>

<p>
  <b>Rating:</b>
  <%= @game.rating %>
</p>

<% if is_admin? %>
  <p class="admin">
    <b>Total Rating:</b>
    <%= @game.totalRating %>
  </p>

  <p class="admin">
    <b>No of Ratings:</b>
    <%= @game.noOfRating %>
  </p>
<% end %>
<p>
  <b>Likes:</b>
  <%= @game.likes %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
